#numbers {
    
}

#numbers {
    border: 5px solid black;
    color: black;
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: white;
}

.bullseyes {
    border: 5px solid black;
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: white;
}

.bullseyegreen {
    width: 428px;
    cursor: pointer;
}

.bullseyegreen:hover {
    background-color: rgb(39, 158, 39)
}

.bullseyered {
    width: 428px;
    cursor: pointer;
}

.bullseyered:hover {
    background-color: rgb(158, 39, 39)
}

th {
    padding: 5px 30px 5px 30px;
}

body {
    background-image: url("woodBackground.jpeg");
    padding-left: 35%;
}

#total {
    border: 10px solid rgb(83, 27, 27);;
    width: 600px;
    background-color: rgb(92, 65, 65);
}

#inlineLeft {
    float: left;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace; 
    color: rgb(224, 224, 224);
}

#inlineCenter {
    float: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace; 
}

#inlineRight {
    float: right;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace; 
}

#sumValue {
    width:300px;
    padding-left: 200px;
    font-size: 150px;
    padding: 0;
    background-color:rgb(92, 65, 65);
    color: rgb(211, 211, 211);
    border: none;
}

.clear {
    background-color: rgb(223, 191, 14);
    border-color: rgb(83, 27, 27);
    cursor: pointer;
}

.clear:hover {
    background-color: rgb(19, 199, 190);
}

#box {
    border: 5px solid rgb(83, 27, 27);
}

.greencell {
    cursor: pointer;
    fill: #4F9962;
}

.greencell:hover {
    fill: rgb(19, 199, 190);
}

.redcell {
    cursor: pointer;
    fill: #ED3737;
}

.redcell:hover {
    fill: rgb(19, 199, 190);
}

.tancell {
    cursor: pointer;
    fill: #F7E9CD;
}

.tancell:hover {
    fill: rgb(19, 199, 190);
}

.blackcell {
    cursor: pointer;
    fill: #000000;
}

.blackcell:hover {
    fill: rgb(19, 199, 190);
}

.dice {
    height: 100px;
    width: 100px;
    font-size: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.roll {
    width: 106px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(122, 122, 122);
}

.roll:hover {

}

#dartboard {
    
}
